html {
    background-color: blanchedalmond;
}
img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}