@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:wght@300&display=swap');

html {
    background-color: rgb(48, 40, 40);
    color: red;
    font-family: 'Roboto';
    font-weight: 300;
    text-align:center;
    
}
img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#kepem {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    
}
h1 {
    text-align:center;
}

#hell{
    text-align: center;
    font-family: 'Metal Mania';
    font-weight: 300;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    font-family: 'Metal Mania';
    font-weight: 300;
}

#kepem:hover {
    cursor: url(imgs/cursor.png),auto;
    
}

#kepem:active {
    cursor: url(imgs/cursor2.png),auto;
}
a {
    font-size: 40px;
    margin-top: 100px;
    font-family: 'Roboto';
    font-weight: 300;
}